body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    padding: 20px 30px;
    background-color: #f9f9f9; /* 背景色を淡いグレーにして視認性向上 */
}

td {
    padding: 2px;
}

tbody tr td:first-child {
    min-width: 180px;
    max-width: 200px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    color: gray;
}

#portrait {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* publication lists */
table#pubTable {
    text-align: left;
    width: 100%;
    vertical-align: bottom;
}

td#pubTable {
    padding: 15px 0px;
}

.paperImage {
    width: 170px;
    height: 113px;
}

tbody tr td#pubTable:first-child {
    min-width: 200px;
    max-width: 200px;
}

.paperTitle {
    font-size: 18px;
    font-weight: bold;
}

.paperAuthors,
.paperConference {
    color: #6c757d;
}

.paperConference {
    font-style: italic;
}

/* .paperButton {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: gray;
    border-radius: 5px;
} */

/* .paperButton:hover {
    background-color: gray;
} */


/* education */
.education {
    padding-top: 10px;
}

.edu-entry {
    padding-bottom: 10px;
}

.edu-date {
    color: #555;
}

.edu-extra {
    font-style: italic;
    color: #666;
}

li {
    padding-bottom: 6px;
}

/* 
.publication {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.pub-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.pub-authors,
.pub-conference,
.pub-extra {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.pub-extra {
    font-style: italic;
    color: #777;
}

.allPublications {
    font-weight: bold;
    display: block;
    margin-top: 10px;
} */


