body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 40px;/* ページの余白を増やす */
    line-height: 1.6;
    background-color: #f9f9f9; /* 背景色を淡いグレーにして視認性向上 */
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    color: gray;
}

#portrait {
    border-radius: 10px;
    border: 2px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    padding: 10px;
    padding-left: 0px;
    padding-right: 20px;
    vertical-align: middle;
}

.tr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.paperImage {
    width: 240px;
    height: 160px;
    border: 1px solid #ccc;
}

.paperTitle {
    font-size: 1.5rem;
}

.paperAuthors,
.paperConference {
    font-size: 1.2rem;
    color: #6c757d;
}

.paperConference {
    margin-bottom: 10px;
    font-style: italic;
}

.paperButton {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: gray;
    border-radius: 5px;
}

.paperButton:hover {
    background-color: gray;
}

.education {
    margin-top: 20px;
}

.edu-entry {
    margin-bottom: 15px;
}

.edu-title {
    font-size: 18px;
}

.edu-date {
    font-size: 16px;
    color: #555;
}

.edu-extra {
    font-size: 16px;
    font-style: italic;
    color: #666;
}

#publications-container {
    margin-top: 20px;
}

.publication {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.pub-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.pub-authors,
.pub-conference,
.pub-extra {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.pub-extra {
    font-style: italic;
    color: #777;
}

.allPublications {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}